* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FED7C7;
}

header img {
    max-width: 75px;
    height: auto;
}

body {
    
    background-color: #9FB1A3;
}

.bigpic {
    width: 100%;
    height: auto;
}

content {
    max-width: 1600px;
    margin: 0 auto;
}

#aboutme img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #562C1E;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    background-color: #FED7C7;
    padding: 2em;
}

section#hero-msg h1 {
    text-align: center;
}

section#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px
}

nav a {
    color: #562C1E;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #9FB1A3;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    
    
}

section#blue, section#red, section#green {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 90%;
    padding: 2em;
}

section img {
    width: 100%;
    height: auto;
}

section#blue {
    background: #F7566E;
    color: #562C1E;
    justify-items: left;
}

section#red {
    background: #F7566E;
    color: #562C1E;
    justify-items: left;

}

section#green {
    background: #F7566E;
    color: #562C1E;
    justify-items: right;
    text-align: right;
    
}

section#green img {
    order: 2;
}

section#aboutme {
    grid-column: 1/4;
    text-align: center;

}


@media (max-width: 768px) {

    nav {
        grid-template-columns: 1fr;
        gap: 1em;
        text-align: center;
    }

    section#blue, section#green, section#red {
        grid-template-columns: 1fr;
        width: 95%;
        text-align: left;
    }

    section img {
        width: 100%
    }
    
}