* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: forestgreen;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: tan;
}

content {
    max-width: 1600;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #4a4326;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: grey;
    padding: 2em;
}



section#hero-msg h1 {
    text-align: center;
}

section#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: forestgreen;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    text-align: center;
}

section#blue {
    background: cornflowerblue;
    grid-column: 3/4;
    grid-row: 1/2;
}

section#red {
    background: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
}

section#green {
    background: lightgreen;
     grid-column: 1/2;
     grid-row: 1/2;
}

section#aboutme {
    grid-column: 1/4;
    text-align: center;

}
