/* Add your CSS here to style your valentines day page */

main {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
}

header{
    background-color: palevioletred;
    text-align: center;
    padding: 2em;
}

body {
    background-color: lightpink;
}

section {
    grid-column: 1;
    position: relative;
    width: 300px;
    height: 280px;
    margin: 40px auto;
    background: palevioletred;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;

    clip-path: polygon(
        50% 90%,
        90% 55%,
        90% 30%,
        70% 15%,
        50% 30%,
        30% 15%,
        10% 30%,
        10% 55%
    );

}


section p {
    display: none;
    padding: 15px;
    transition: all 0,4s ease;
    font-size: 14px;
}

section:hover p {
    opacity: 1;
    max-height: 500px;
    margin-top: 15px;
    display: block;
}

section:hover h2 {
    display: none;
}

h1 {
    font-size: 6em;
    grid-column: 1/-1;
}

img {
    width:300px;
    height: auto;
    display: block;
    grid-column: 2;
    justify-self: center;
}

nav {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    
    padding: 2em;
}

nav li {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background-color: pink;
}