* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200;
    margin: auto;
    font-size: 100%;
}

header {
    text-align: center;
    background-color: #333;
    padding: 2em;
}

header > nav {
    display: flex;
    justify-content:center;
    gap: 2em;
}

header > nav > a {
    color: white;
    text-decoration: none;
}

header img {
    border-radius: 50%;
    margin: 1em auto;

}

#prod-gallery {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2em;
}

.product h2{

    font-size: 1em;

}

.product p {
    font-size: 0.8em;

}

.product img {
    border-radius: 5%;
    box-shadow: 1px 1px 10px #555;
    margin-bottom: .5em;
}

footer {
    background-color: #333;
    color:white;
    display: flex;
}