body {
    text-align: center;
    background-color: beige;
    color: aquamarine;
    

}

img {
    max-width: 800px;
    border: 4px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 10px
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;

}

h1 {

    color: steelblue;
}

footer {
    background-color: steelblue;
    color: white;
    padding: 10px;

}