body {
    background-color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

main section img {
    box-sizing: border-box;
}

#logo_link {
    padding-top: 5px;
}

div#content {
    max-width: 1600;
    margin: 0 auto;
}

main {
    text-align: center;
}

header{
    background-color: aliceblue;
}

nav a {
    text-align: center;
    color: burlywood;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: antiquewhite;
    color: aliceblue;
}

#hero-img {
    width: 100%;
}

section#hero-msg h1 {
    text-align: center;
    color: dodgerblue;
}

h2 {
    margin: 0;
}

section#hero-msg h4 {
    text-align: center;
    color: tan;
}

.button-box {
    text-align: center;
}

section#background {
    height: 725px;
    background-color: bisque;
}

.book, .join {
    background-color: aqua;
    color: chartreuse;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: chartreuse;
    color: aqua;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200p 0;
}

.card-img {
    border: 10px black;
}

.msg {
    background-color: brown;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    font-size: .8em;
    color: indianred;
    padding-bottom: 15x;
}

footer {
    background-color: blueviolet;
    color: magenta;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: darksalmon;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: deeppink;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: pink;
    font-size: 2em;
    margin-top: 10p;
}

